.albums {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    position: relative;

    img {
        width: 35%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .title {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    }
}