.main-container {
  width: 320px;
  min-height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://images.hdqwalls.com/download/4k-texture-simple-background-21-1920x1080.jpg");
}